{
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["error", "double"],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-console": [0],
    "react/prop-types": [0]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions": true
    },
    "ecmaVersion": 6
  },
  "plugins": [
    "react"
  ]
}
